*{
    margin:0
}

.container{
    display:flex;
    background-color: black;
    color:white;
    margin-right: 20%;
    margin-left: 100px;
    padding: 10px;
    
}

nav{
    display:flex;    
    color:white;
    background-color:black;
}

nav ul {
    list-style-type: none;
    display:flex;
    padding: 10px;
    margin-right: auto;
}

nav ul li {
    margin-right: 40px;
}

.hero-image{
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("../images/theater-image-background.png");
    height:500px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
}
.hero-text{
    color:white;
    text-align:center;
    position: absolute;
    Top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:50px;
    font-stretch: ultra-expanded;
}

.date{
    align-content:flex-start;
    align-content:flex-start;
    border-style:solid;
    border-width: 1px;
    border-color:gray;
    margin-top:150px;
    margin-bottom:50px;
    padding-left:50px;
    background-color:lightgray;
}

.row{
    display:flex;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color: gray;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.thumbnail {
    padding-right: 30px;
}

.readmore{
    margin-top: auto;
    margin-bottom: auto;;
}

.showdetails{
    padding-right:150px;
}

.showdetails p {
    margin-top: 10px;
}

.containerbody{
    margin-left: 20%;
    margin-right: 20%;
}
